<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ytam.androidchartexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PieChartExample"
            android:label="PieChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LineChartExample"
            android:label="LineChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HalfChartActivity"
            android:label="PieChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarChartActivity"
            android:label="BarChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarChart2Activity"
            android:label="BarChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarChart3Activity"
            android:label="BarChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarChart4Activity"
            android:label="BarChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PieChart2Example"
            android:label="pieChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PositiveNegativeActivity"
            android:label="Positive Negative Bar Chart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FitChart"
            android:label="FitChart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HorizontalBarActivity"
            android:label="Horizontal Bar Chart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StackedBarNegativeActivity"
            android:label="StackedBarNegativeActivity"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>